<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/header.ejs %>
    </head>

    <body>
        <div class="jumbotron text-center">
          <div class="container">
            <h1>Yes.</h1>
            <h3>It's 5 pm somewhere.</h3>
          </div>
        </div>
    </body>
</html>
